.header {
    width: 100%;
    height: 60px;
    background-color: #46C7C7;
    color: #fff;
    text-transform: uppercase;
}

@media(max-width:768px) {
    .header {
        width: 100%;
        height: 100px;
    }
    .header div {
        font-size: 14px;
    }
}

@media(max-width:480px) {
    .header div {
        font-size: 10px;
    }
}