.load-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46C7C7;
    text-decoration: none;
    width: 15%;
    text-align: center;
    margin-left: 40%;
    padding: 8px 10px;
    color: white;
    margin-top: 30px;
    text-transform: uppercase;
}

@media(max-width:768px) {
    .load-btn {
        width: 30%;
    }
}